<div id="search-component">
  <div class="form-group">
    <label for="#prioritySelect">Choose Priority</label>
    <select class="form-control" id="#prioritySelect" #prioritySelect (change)="filterBook(searchBox.value, prioritySelect.value);">
      <option value="" selected="selected">All</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </div>
  <div class="form-group">
    <input #searchBox id="search-box" (keyup)="filterBook(searchBox.value, prioritySelect.value)" placeholder="search book" class="form-control"/>
  </div>
  <!--<ul class="search-result list-unstyled">-->
    <!--<li *ngFor="let book of filteredBooks | async" >-->
      <!--<a routerLink="/book/{{book.$key}}" class="btn" ngClass="{{priorityCSSClass(book.priority)}}">-->
        <!--{{book.title}} - <small>{{book.author}}</small>-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->
</div>
