.bg-holder  {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/assets/image/img-bg-2.jpg');
  margin-top: -50px;
  padding: 100px 0;
}
