


<h6>Books List:</h6>
<div *ngIf="(books$ | async)?.length > 0; else emptyList">
  <table class="table">
    <thead class="thead-dark">
      <tr>
          <th (click)="sort('title')">
            Title
            <i class="fa fa-close"></i>
          </th>
          <th>Author</th>
          <th>Priority</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books" [class.table-dark]="book.isRead">

          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>
            <span *ngIf="book.priority === 'low'" class="badge badge-success">Low</span>
            <span *ngIf="book.priority === 'medium'" class="badge badge-warning">Medium</span>
            <span *ngIf="book.priority === 'high'" class="badge badge-danger">High</span>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" (click)="removeBook(book)">Delete</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="toggleReadStatus(book)">
              {{ book.isRead ? 'Is Not Read' : 'Is Read' }}
            </button>
            <button type="button" class="btn btn-warning btn-sm" (click)="editBook(book)">Edit</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #emptyList>
  <p class="lead">You have no any book</p>
</ng-template>
